{% extends 'base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
<h1> About </h1>
<br>
<p class="text"> Текст для стилей из статики </p>
<br>
<p class="big-text"> Второй текст для стилей из статики </p>
<br>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
{% endblock %}

