{% extends 'base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
<h1> Hi </h1>
<br>
<p class="text-start">Start aligned text on all viewport sizes.</p>

<div class="badge bg-primary text-wrap" style="width: 12rem;">
  Текст в прямоугольнике.
</div>
<br>
<br>
<p class="fw-bold">Текст bold.</p>
<br>
<p class="fw-lighter">Lighter weight text (relative to the parent element).</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}