aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
asyncpg==0.25.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
defusedxml==0.7.1
frozenlist==1.2.0
greenlet==1.1.2
httpie==2.6.0
idna==3.3
multidict==5.2.0
Pygments==2.10.0
PySocks==1.7.1
requests==2.26.0
requests-toolbelt==0.9.1
SQLAlchemy==1.4.28
typing-extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
